<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div>
      <% if @item.item_image.attached? %>
        <%= image_tag url_for(@item.item_image), size: "300x200" %>
      <% else %>
        <%= image_tag 'noimage.png', size: "300x200" %>
      <% end %>
      </div>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-3">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>商品名</td>
          </tr>
          <tr>
            <td>商品説明</td>
          </tr>
          <tr>
            <td>ジャンル</td>
          </tr>
          <tr>
            <td> 税込価格 <br>(税込価格)</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
          </tr>
        </tbody>
      </table>
    </div>
        
    <div class="col-md-4">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td><%= number_with_delimiter((@item.price * 1.1).to_i) %> （<%= number_with_delimiter(@item.price) %>）円</td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td>
              <span>
                <%= @item.is_active ? '販売中' : '販売停止中' %>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <%= link_to edit_admin_item_path(@item.id) do %>
        <button type="edit" class="btn btn-sm btn-success"> 編集する　　</button>
      <% end %>
    </div>
  </div>
</div>