<div class="col">
  <table table-borderless>
    <tbody>
      <tr>
        <th scope="row" class="col-sm-3" >購入者</th>
        <td>
          <span><%= order.customer.last_name %><%= order.customer.first_name %></span>
        </td>
      </tr>
      <tr>
        <th scope="row" class="col-sm-3" >注文日</th>
        <td>
            <span><%= order.created_at.strftime('%Y/%m/%d') %></span>
          </td>
      </tr>
      <tr>
        <th scope="row" class="col-sm-3" >配送先</th>
        <td>
          <span>
            〒<%= order.postal_code %> <%= order.address %>
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row" class="col-sm-3" >　</th>
        <td><%= order.name %></td>
      </tr>
      <tr>
        <th scope="row" class="col-sm-3" >支払方法</th>
        <td>
          <span><%= order.payment_method %></span>
        </td>
      </tr>
      <tr>
        <th scope="row" class="col-sm-3" >注文ステータス</th>
        <td>
          <span><%= order.order_status %></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


