<div class="col">
  <table table-borderless>
    <tbody>
      <tr>
        <th scope="row" class="col-sm-3" >購入者</th>
        <td>
          <span><%= order.customer.last_name %><%= order.customer.first_name %></span>
        </td>
      </tr>
      <tr>
        <th scope="row" class="col-sm-3" >注文日</th>
        <td>
            <span><%= order.created_at.strftime('%Y/%m/%d') %></span>
          </td>
      </tr>
      <tr>
        <th scope="row" class="col-sm-3">配送先</th>
        <td>
          <span>
            〒<%= order.postal_code %> <%= order.address %>
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row" class="col-sm-3" >　</th>
        <td><%= order.name %></td>
      </tr>
      <tr>
        <th scope="row" class="col-sm-3" >支払方法</th>
        <td>
          <span><%= order.payment_method_i18n %></span>
        </td>
      </tr>
      <tr>
        <th scope="row" class="col-sm-3" >注文ステータス</th>
        <td>
          <span>
            <%= form_with(model: order, url: admin_order_path(order.id)) do |f| %>
              <div class = "form-groupe row">
                <div class="col-sm-4">
                  <%= f.collection_select :order_status, [["入金待ち", "wait_payment"],["入金確認", "confirm_payment"],["製作中", "making"],["発送中", "preparing_ship"],["発送済み", "finish_prepare"]], :last, :first %>
                </div>
                <div class="col-sm-1">
                  <%= f.submit '　変更を保存　', class: "btn btn-sm btn-success" %>
                </div>
              </div>
            <% end %>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


