<div class="container">
  <div class="row">
    <div class="col-sm-7">
      
      <div class="col-sm-3 ml-5 mb-5">
        <h5 class="table-active">注文情報入力</h5>
      </div>

      <%= form_with model: @order, local: true do |f| %>
        <h5>支払方法</h5>
        <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :payment_method, "クレジットカード" %>
        <%= f.radio_button :payment_method, "transfer" %>
        <%= f.label :payment_method, "銀行振込" %>

        <h5>お届け先</h5>
        <p><%= f.radio_button :select_address, 0 %>ご自身の住所</p>
        
