<div class="container">
  <div class="row">
    <div class="col-md-3 space-above">
      <%= render 'items/genres', genres: @genres %>
    </div>

    <div class="col-md-9">
    <table class="table">
      <div class="bg-image" style="position: relative; background-image: url('<%= asset_path('pexels-juliomelanda.jpg') %>'); background-size: cover; background-position: center; height: 300px;  display: flex; justify-content: center; align-items: center;">
        <div class="bg-image" style="z-index: 1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 55%; height: 150px; background-image: url('<%= asset_path('white.png') %>'); background-size: cover; background-position: center; display: flex; justify-content: center; align-items: center; "></div>
          <div class="container position-relative">
            <div class="row">
              <div class="col text-center" style="position: relative; z-index: 2; ">
                  <h5>ようこそ、ながのCAKEへ！<br>
                  このサイトは、ケーキ販売のECサイトになります。<br>
                  会員でない方も商品の閲覧はできますが、<br>
                  購入には会員登録が必要になります。</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
<br>
      <div class="new-items">
        <h4>新着商品</h4>
        <div class="row">
          <% @items.each do |item| %>
            <div class="col">
              <div class="item">
                <p>
                  <%= link_to item_path(item.id) do %>
                    <% if item.item_image.attached? %>
                      <%= image_tag url_for(item.item_image), size: "150x100" %>
                    <% else %>
                      <%= image_tag 'noimage.png', size: "150x100" %>
                    <% end %>
                  <% end %>
                </p>  
                <p><%= link_to item.name, item_path(item) %></p>
                <p>¥<%= number_with_delimiter((item.price * 1.1).to_i) %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-right">
        <%= link_to '全ての商品を見る＞', items_path %>
      </div>
    </table>

  </div>
</div>