<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3 space-above">
      <table class="table">
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <tr><td>ジャンル</td></tr>
      </table>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>商品一覧</h1>
      
      <div class="row">
        <% @items.each_slice(4) do |items_row| %>
          <div class="row">
            <% items_row.each do |item| %>
              <div class="col">
                <p>
                  <% if item.item_image.attached? %>
                    <%= image_tag url_for(item.item_image), size: "150x100" %>
                  <% else %>
                    <%= image_tag 'noimage.png', size: "150x100" %>
                  <% end %>
                </p>
                <p><%= link_to item.name, item_path(item) %></p>
                <p>¥<%= number_with_delimiter(item.price, delimiter: ',') %></p>
              </div>
            <% end %>
          </div>
      
        <% end %>
      </div>

    <%= paginate @items %>

  </div>
</div>
